
<div class="timeline-container">
  <div class="timeline-event" *ngFor="let event of events">
    <div class="timeline-badge" [ngClass]="event.status">
      <mat-icon>{{event.icon}}</mat-icon>
    </div>
    <div class="timeline-panel">
      <div class="timeline-heading">
        <h4>{{event.title}}</h4>
        <p class="text-muted">
          <mat-icon>calendar_today</mat-icon>
          {{event.date | date:'mediumDate'}}
        </p>
      </div>
      <div class="timeline-body">
        <p>{{event.description}}</p>
      </div>
    </div>
  </div>
</div>